@charset "utf-8";

.changepass{text-align:center;
margin:50px 400px;
	}

#cp{
		transform: translate(-30px);
		width: auto;
		background-color: #000000;
		opacity: 0.8;
		padding:30px 10px;
		}

label{
	color:aliceblue;
	
}

td{
	border: hidden;
}

